<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="material_gazebo_black">
    <visual>
      <material>
        <ambient>0 0 0 1</ambient>
        <diffuse>0 0 0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_white">
    <visual>
      <material>
        <ambient>1 1 1 1</ambient>
        <diffuse>1 1 1 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_robot_settings"
    params="name_link_base
            name_link_1
            name_link_2
            name_link_3
            name_link_4
            name_link_hand
            use_ignition
            config_package
            config_file_path
            ">

    <gazebo>
      <xacro:if value="${use_ignition}">
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find ${config_package})/${config_file_path}</parameters>
        </plugin>
      </xacro:if>

      <xacro:unless value="${use_ignition}">
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
          <parameters>$(find ${config_package})/${config_file_path}</parameters>
        </plugin>
      </xacro:unless>
    </gazebo>

    <gazebo reference="${name_link_base}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_1}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_2}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_3}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_4}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_hand}">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <xacro:material_gazebo_white/>
    </gazebo>

  </xacro:macro>
</robot>
