<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="crane_plus_gazebo_ros2_control_settings"
    params="name
            name_joint_1
            name_joint_2
            name_joint_3
            name_joint_4
            name_joint_hand
            joint_1_lower_limit
            joint_1_upper_limit
            joint_2_lower_limit
            joint_2_upper_limit
            joint_3_lower_limit
            joint_3_upper_limit
            joint_4_lower_limit
            joint_4_upper_limit
            joint_hand_lower_limit
            joint_hand_upper_limit
            use_ignition
            ">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_ignition}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>

        <xacro:unless value="${use_ignition}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:unless>
      </hardware>

      <joint name="${name_joint_1}">
        <command_interface name="position">
          <param name="min">${joint_1_lower_limit}</param>
          <param name="max">${joint_1_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${name_joint_2}">
        <command_interface name="position">
          <param name="min">${joint_2_lower_limit}</param>
          <param name="max">${joint_2_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${name_joint_3}">
        <command_interface name="position">
          <param name="min">${joint_3_lower_limit}</param>
          <param name="max">${joint_3_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${name_joint_4}">
        <command_interface name="position">
          <param name="min">${joint_4_lower_limit}</param>
          <param name="max">${joint_4_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${name_joint_hand}">
        <command_interface name="position">
          <param name="min">${joint_hand_lower_limit}</param>
          <param name="max">${joint_hand_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>