<?xml version="1.0"?>

<robot name="crane_plus" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.xacro"/>
  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.ros2_control.xacro"/>
  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.gazebo.xacro"/>
  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.gazebo_ros2_control.xacro"/>

  <xacro:arg name="use_gazebo" default="false" />
  <xacro:arg name="use_camera" default="false" />
  <xacro:arg name="use_mock_components" default="false" />
  <xacro:arg name="port_name" default="/dev/ttyUSB0" />
  <xacro:arg name="baudrate" default="1000000" />
  <xacro:arg name="timeout_seconds" default="5.0" />
  <xacro:arg name="read_velocities" default="0" />
  <xacro:arg name="read_loads" default="0" />
  <xacro:arg name="read_voltages" default="0" />
  <xacro:arg name="read_temperatures" default="0" />
  <xacro:arg name="gz_control_config_package" default="" />
  <xacro:arg name="gz_control_config_file_path" default="" />
  <xacro:property name="USE_CAMERA" value="$(arg use_camera)"/>
  <xacro:property name="USE_MOCK_COMPONENTS" value="$(arg use_mock_components)"/>
  <xacro:property name="PORT_NAME" value="$(arg port_name)"/>
  <xacro:property name="BAUDRATE" value="$(arg baudrate)"/>
  <xacro:property name="TIMEOUT_SECONDS" value="$(arg timeout_seconds)"/>
  <xacro:property name="READ_VELOCITIES" value="$(arg read_velocities)"/>
  <xacro:property name="READ_LOADS" value="$(arg read_loads)"/>
  <xacro:property name="READ_VOLTAGES" value="$(arg read_voltages)"/>
  <xacro:property name="READ_TEMPERATURES" value="$(arg read_temperatures)"/>
  <xacro:property name="GZ_CONTROL_CONFIG_PACKAGE" value="$(arg gz_control_config_package)"/>
  <xacro:property name="GZ_CONTROL_CONFIG_FILE_PATH" value="$(arg gz_control_config_file_path)"/>

  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="white">
    <color rgba="0.95 0.95 0.95 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.8 0.8 0.8 1.0" />
  </material>

  <xacro:property name="NAME_LINK_BASE" value="crane_plus_base"/>
  <xacro:property name="NAME_LINK_1" value="crane_plus_link1"/>
  <xacro:property name="NAME_LINK_2" value="crane_plus_link2"/>
  <xacro:property name="NAME_LINK_3" value="crane_plus_link3"/>
  <xacro:property name="NAME_LINK_4" value="crane_plus_link4"/>
  <xacro:property name="NAME_LINK_HAND" value="crane_plus_link_hand"/>
  <xacro:property name="NAME_LINK_TCP" value="crane_plus_link_TCP"/>

  <xacro:property name="NAME_JOINT_BASE" value="crane_plus_joint_base"/>
  <xacro:property name="NAME_JOINT_1" value="crane_plus_joint1"/>
  <xacro:property name="NAME_JOINT_2" value="crane_plus_joint2"/>
  <xacro:property name="NAME_JOINT_3" value="crane_plus_joint3"/>
  <xacro:property name="NAME_JOINT_4" value="crane_plus_joint4"/>
  <xacro:property name="NAME_JOINT_HAND" value="crane_plus_joint_hand"/>
  <xacro:property name="NAME_JOINT_TCP" value="crane_plus_joint_tcp"/>

  <xacro:property name="SERVO_HOME" value="${radians(150.0)}"/>
  <xacro:property name="JOINT_EFFORT_LIMIT" value="1.5"/>
  <xacro:property name="JOINT_VELOCITY_LIMIT" value="2.0"/>
  <xacro:property name="JOINT_1_LOWER_LIMIT" value="${radians(0) - SERVO_HOME}"/>
  <xacro:property name="JOINT_1_UPPER_LIMIT" value="${radians(300) - SERVO_HOME}"/>
  <xacro:property name="JOINT_2_LOWER_LIMIT" value="${radians(45) - SERVO_HOME}"/>
  <xacro:property name="JOINT_2_UPPER_LIMIT" value="${radians(253) - SERVO_HOME}"/>
  <xacro:property name="JOINT_3_LOWER_LIMIT" value="${radians(3) - SERVO_HOME}"/>
  <xacro:property name="JOINT_3_UPPER_LIMIT" value="${radians(291) - SERVO_HOME}"/>
  <xacro:property name="JOINT_4_LOWER_LIMIT" value="${radians(44) - SERVO_HOME}"/>
  <xacro:property name="JOINT_4_UPPER_LIMIT" value="${radians(252) - SERVO_HOME}"/>
  <xacro:property name="JOINT_HAND_LOWER_LIMIT" value="${radians(109) - SERVO_HOME}"/>
  <xacro:property name="JOINT_HAND_UPPER_LIMIT" value="${radians(189) - SERVO_HOME}"/>

  <!-- Used for fixing robot 'base_link' to Gazebo 'world' -->
  <link name="world"/>
  <link name="base_link"/>

  <joint name="base_link_to_world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:crane_plus parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:crane_plus>

  <xacro:unless value="$(arg use_gazebo)">
    <xacro:crane_plus_ros2_control_settings />
  </xacro:unless>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:gazebo_robot_settings />
    <xacro:crane_plus_gazebo_ros2_control_settings /> 
  </xacro:if>

  <xacro:if value="$(arg use_camera)">
    <xacro:include filename="$(find crane_plus_description)/urdf/camera.xacro" />
    <xacro:include filename="$(find crane_plus_description)/urdf/camera_stand.xacro" />
    <xacro:sensor_camera parent="${NAME_LINK_BASE}" />
    <xacro:camera_stand parent="${NAME_LINK_BASE}" />
  </xacro:if>

</robot>
