<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="crane_plus_ros2_control_settings">

    <ros2_control name="crane_plus" type="system">
      <hardware>
        <xacro:if value="${USE_MOCK_COMPONENTS}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${USE_MOCK_COMPONENTS}">
          <plugin>crane_plus_hardware/CranePlusHardware</plugin>
          <param name="port_name">${PORT_NAME}</param>
          <param name="baudrate">${BAUDRATE}</param>
          <param name="timeout_seconds">${TIMEOUT_SECONDS}</param>
          <param name="read_velocities">${READ_VELOCITIES}</param>
          <param name="read_loads">${READ_LOADS}</param>
          <param name="read_voltages">${READ_VOLTAGES}</param>
          <param name="read_temperatures">${READ_TEMPERATURES}</param>
        </xacro:unless>
      </hardware>

      <joint name="${NAME_JOINT_1}">
        <command_interface name="position">
          <param name="min">${JOINT_1_LOWER_LIMIT}</param>
          <param name="max">${JOINT_1_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">1</param>
      </joint>

      <joint name="${NAME_JOINT_2}">
        <command_interface name="position">
          <param name="min">${JOINT_2_LOWER_LIMIT}</param>
          <param name="max">${JOINT_2_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">2</param>
      </joint>

      <joint name="${NAME_JOINT_3}">
        <command_interface name="position">
          <param name="min">${JOINT_3_LOWER_LIMIT}</param>
          <param name="max">${JOINT_3_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">3</param>
      </joint>

      <joint name="${NAME_JOINT_4}">
        <command_interface name="position">
          <param name="min">${JOINT_4_LOWER_LIMIT}</param>
          <param name="max">${JOINT_4_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">4</param>
      </joint>

      <joint name="${NAME_JOINT_HAND}">
        <command_interface name="position">
          <param name="min">${JOINT_HAND_LOWER_LIMIT}</param>
          <param name="max">${JOINT_HAND_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">5</param>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
