<?xml version="1.0"?>

<robot
    name="crane_plus"
    xmlns:xacro="http://ros.org/wiki/xacro"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:include filename="$(find crane_plus_description)/urdf/crane_plus.xacro"/>

  <!-- Link to provide the location reference for the arm -->
  <link name="base_link"/>

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>                                

  <joint name="base_link_to_world_joint" type="fixed">
    <parent link="world"/>                            
    <child link="base_link"/>                         
  </joint>                                            

  <xacro:property name="M_PI" value="3.14159"/>
  <xacro:property name="TO_RADIAN" value="${M_PI / 180.0}"/>
  <xacro:property name="SERVO_HOME" value="${TO_RADIAN * 150.0}"/>

  <xacro:crane_plus parent="base_link"
    joints_vlimit="2.0"
    joint1_lower_limit="${0.0 * TO_RADIAN - SERVO_HOME}"
    joint1_upper_limit="${300.0 * TO_RADIAN - SERVO_HOME}"
    joint2_lower_limit="${45.45 * TO_RADIAN - SERVO_HOME}"
    joint2_upper_limit="${252.20 * TO_RADIAN - SERVO_HOME}"
    joint3_lower_limit="${3.52 * TO_RADIAN - SERVO_HOME}"
    joint3_upper_limit="${290.62 * TO_RADIAN - SERVO_HOME}"
    joint4_lower_limit="${44.57 * TO_RADIAN - SERVO_HOME}"
    joint4_upper_limit="${251.32 * TO_RADIAN - SERVO_HOME}"
    joint_hand_lower_limit="${109.38 * TO_RADIAN - SERVO_HOME}"
    joint_hand_upper_limit="${188.27 * TO_RADIAN - SERVO_HOME}">
    <origin xyz="0 0 0"/>
  </xacro:crane_plus>
</robot>
