<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="crane_plus_ros2_control_settings"
    params="name
            name_joint_1
            name_joint_2
            name_joint_3
            name_joint_4
            name_joint_hand
            joint_1_lower_limit
            joint_1_upper_limit
            joint_2_lower_limit
            joint_2_upper_limit
            joint_3_lower_limit
            joint_3_upper_limit
            joint_4_lower_limit
            joint_4_upper_limit
            joint_hand_lower_limit
            joint_hand_upper_limit
            port_name
            baudrate
            timeout_seconds
            read_velocities
            read_loads
            read_voltages
            read_temperatures">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>crane_plus_hardware/CranePlusHardware</plugin>
        <param name="port_name">${port_name}</param>
        <param name="baudrate">${baudrate}</param>
        <param name="timeout_seconds">${timeout_seconds}</param>
        <param name="read_velocities">${read_velocities}</param>
        <param name="read_loads">${read_loads}</param>
        <param name="read_voltages">${read_voltages}</param>
        <param name="read_temperatures">${read_temperatures}</param>
      </hardware>

      <joint name="${name_joint_1}">
        <command_interface name="position">
          <param name="min">${joint_1_lower_limit}</param>
          <param name="max">${joint_1_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">1</param>
      </joint>

      <joint name="${name_joint_2}">
        <command_interface name="position">
          <param name="min">${joint_2_lower_limit}</param>
          <param name="max">${joint_2_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">2</param>
      </joint>

      <joint name="${name_joint_3}">
        <command_interface name="position">
          <param name="min">${joint_3_lower_limit}</param>
          <param name="max">${joint_3_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">3</param>
      </joint>

      <joint name="${name_joint_4}">
        <command_interface name="position">
          <param name="min">${joint_4_lower_limit}</param>
          <param name="max">${joint_4_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">4</param>
      </joint>

      <joint name="${name_joint_hand}">
        <command_interface name="position">
          <param name="min">${joint_hand_lower_limit}</param>
          <param name="max">${joint_hand_upper_limit}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="load"/>
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <param name="dxl_id">5</param>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
