name: industrial_ci

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  schedule:
    - cron: "0 2 * * 0" # Weekly on Sundays at 02:00

jobs:
  industrial_ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: jazzy
            env:
              ROS_DISTRO: jazzy
              ROS_REPO: main
          - name: rolling
            env:
              ROS_DISTRO: rolling
              ROS_REPO: main
              UPSTREAM_WORKSPACE: crane_plus-not-released.rolling.repos
              
    steps:
      - uses: actions/checkout@v4

      - name: Run industrial_ci
        id: run_ci
        uses: ros-industrial/industrial_ci@master
        env: ${{ matrix.env }}
        continue-on-error: ${{ matrix.env.ROS_DISTRO == 'rolling' }}

      - name: status message
        if: ${{ matrix.env.ROS_DISTRO == 'rolling' && steps.run_ci.outcome == 'failure' }}
        run: echo "ROS ${MATRIX_ENV} のジョブは失敗しましたが、PRチェックには影響しません。"
